<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Receitas.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90C5F00F1D40E46A00A4DBB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90C5F0231D40E46B00A4DBB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90C5F02E1D40E46B00A4DBB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
